@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&subset=latin-ext");
$backgoundColor: #f2f2f2;

$navBarBgColor: #80bfff;
$navBtnColor: #ffffff;

$btnColor: #7fdfff;
$priceColor: #ff8c66;

body {
  background-color: $backgoundColor;
}

.btn:active {
  outline: none !important;
  border: none !important;
}

.btn-primary {
  background-color: $btnColor;
  border: 1px solid $btnColor;
}
.btn-primary:hover {
  background-color: $btnColor;
  border: 1px solid $btnColor;
}
.btn-secondary {
  background-color: $priceColor;
  border: 1px solid $priceColor;
}
.btn-secondary:hover {
  background-color: $priceColor;
  border: 1px solid $priceColor;
}


header .navbar {
  background-color: $navBarBgColor;
}

.navbar .nav-link {
  color: $navBtnColor;
}

.react-datepicker-wrapper{
  display: block !important;
}

.react-datepicker-wrapper input{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

header{
  margin-bottom: 20px;
}







